.counter {
  background: white;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: end;
  gap: 10px;
}

.counter h1 {
  color: #332123;
}

.counter button {
  padding: 10px 40px;
  width: 80px;
}
